<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!-- 외부 아이콘 임포트 -->
    <script src="https://kit.fontawesome.com/d4b88f7572.js" crossorigin="anonymous"></script>
    <!--    임시방편 css-->
    <link rel="stylesheet" href="/static/css/board/home.css" th:href="@{/css/board/home.css}">

    <!--    폰트 적용인데 이거 css 파일로 뗄 수 없나? 될 것 같은데 -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        /* 드롭다운 css */
        /* .menu>.ccode .depth2 {
            display: none;
            font-size: 18px;
        }

        .menu>.ccode:hover .depth2 {
            display: block;
            position: absolute;
            transition: all .5s ease-out;
        } */
    </style>
</head>

<body>
    <header>
        <!-- 로고 -->
        <div class="logo"><img src="" th:src="@{/img/logo.jpg}" alt="" width="150px" height="100px"></div>

        <!-- 상단 메뉴 -->
        <ul class="menu">
            <li class="pcode"><a href="#">분야별 레시피</a></li>
            <li>|</li>
            <li class="pcode"><a href="#">테마별 레시피</a></li>
            <li>|</li>
            <li class="pcode"><a href="#">사진 팁</a></li>
            <li>|</li>
            <li class="pcode"><a href="#">베이킹 클래스 찾기</a></li>
            <li>|</li>
            <li class="pcode"><a href="#">커뮤니티</a></li>
        </ul>


        <!-- 우측상단 아이콘 -->
        <div class="icon">
            <ul class="icon_ul">
                <li><a href="#" class="searchBtn"><i class="fas fa-search"></i></a></li>
                <li><i class="far fa-user"></i></li>
                <li><i class="fas fa-bars"></i></li>
            </ul>
        </div>
    </header>

    <div class="dropdown">
        <div class="depth2-wrap">
            
            <ul class="depth2">
                <li class="ccode"><a href="#">제과</a></li>
                <li class="ccode"><a href="#">제빵</a></li>
                <li class="ccode"><a href="#">음료</a></li>
                <li class="ccode"><a href="#">노오븐 베이킹</a></li>
            </ul>
            <ul class="depth2">
                <li class="ccode"><a href="#">발렌타인 데이</a></li>
                <li class="ccode"><a href="#">할로윈</a></li>
                <li class="ccode"><a href="#">빼빼로 데이</a></li>
                <li class="ccode"><a href="#">크리스마스</a></li>
            </ul>
            <ul class="depth2">
                <li class="ccode"><a href="#">구도/각도</a></li>
                <li class="ccode"><a href="#">보정</a></li>
            </ul>
            <ul class="depth2">
                <li class="ccode"><a href="#">베이킹 클래스 찾기</a></li>
            </ul>
            <ul class="depth2">
                <li class="ccode"><a href="#">QnA</a></li>
                <li class="ccode"><a href="#">자유 게시판</a></li>
            </ul>
            
        </div>>
    </div>


</body>

</html>