*{
    outline: red 1px solid;

    font-family: 'Jua', sans-serif;
    padding: 0;
    margin: 0;
    /* font-family: 'Gamja Flower', cursive; */
    color: #594440;
    background-color: #fcf8f4;
   }

   a{
    color: #000;
   }

   header{
    width: 80%;
    height: 100px;
    /* min-width: 1300px; */
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   /* 상단 메뉴 */
   .icon_ul,
   .menu{
   list-style: none;
   display: flex;
   }

   .menu>li{
   margin:8px 12px;
   font-size: 25px;
   }

   /* 우측 상단 아이콘 */
   .icon li{
   margin:8px 12px;
   font-size: 30px;
   }

   /* 드롭다운 */
   .dropdown{
       width: 100%; height: inherit;
       /* position: relative; */
   }
   .depth2-wrap{
       width: 53%; height: inherit;
       margin: auto;
       display: grid;
       grid-template-columns: 1fr 1fr 130px 235px 125px;
   }
   .depth2-wrap > ul { list-style: none; text-align: center;}
   .depth2-wrap > ul > li { height: 40px;}

   .ccode{ font-size: 16px;}


  